 /* ----------------------------------------------- */
 /* Configurações Básicas */
 /* ----------------------------------------------- */

 /*Zerando bordas para ter maior domínio responsaveis os box*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  /*Define a cor do fundo*/
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
  font-weight: 300;
  /*de acordo com a fonte que importamos*/
  font-size: 20px;
  text-rendering: optimizeLegibility;
  /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/ 
   scroll-behavior: smooth;
 }

header {
  height: 80px;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  
}

header .logo {
  width: 100px;
  margin-left: 40px;
  filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(101%) contrast(105%);
}

header .main-nav {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
}

.main-nav li a {
  border-bottom: 2px solid transparent;
}

header .main-nav li a:hover,
header .main-nav li a:active {
  padding-bottom: 4px;
  border-bottom: 2px solid #8b45a0;
  transition: border-bottom 0.3s;
}

header h1 {
  margin: 0;
  color: white;
  text-transform: uppercase;

  word-spacing: 10px;
  letter-spacing: 4px;

  margin-bottom: 15px;
}

.menu {
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 10;
 background: #000;
 margin-top: -16px;
}



.btn:link,
.btn:visited {
  border: solid 2px white;
  border-radius: 10px;
  padding: 5px 25px;
  margin-right: 10px;
  font-weight: bold;


  transition: background-color 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
 
  background-color: rgb(255, 255, 255);
  color: #86389e;
}

.btn-full:hover {
  background-color: #913bac;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: none;
  color: #fff;
}

.btn-ghost:hover {
  background-color: #fff;
  color: #913bac;
}

body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;

}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 70%;
}


.bigFigure img {
  width: 100%;
  height: 100%;
  border: 1px solid #913bac;
}

.smallFigures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.smallFigures img {
  width: 100%;
  height: 100%;
  border: 1px solid #913bac;
}

.description {
  width: 100%;
  display: flex;
  text-align: justify;
  justify-content: center;
}

.description h2 {
  color: white;
}

.description p {
  color: white;
}

.details-box {
  width: 70%;
  margin-top: 40px;
}
 .details-box p:first-of-type {
  font-weight: bold;
 }

.buttons {
  padding-top: 40px;
}


#menuMobile {
  position: absolute;
  top: 64px;
  right: 16px;
  z-index: 5;
  background-color: black;
  padding: 8px;
  border-radius: 4px;
  display: none;
  list-style: none;
  font-weight: 500;
}


#menuMobile li:hover{
  cursor: pointer;
}

#menuWeb li:hover{
  cursor: pointer;
}

.teste{
  display: block !important;
}

nav i{
  display: none;
}

@media(max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }

  #menuWeb{
    display: none;
}

  nav i{
    color: white;
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline;
    font-size: 40px;
  }
  
  nav i:hover{
    cursor: pointer;
  }
}
