 /* ----------------------------------------------- */
 /* Configurações Básicas */
 /* ----------------------------------------------- */

 /*Zerando bordas para ter maior domínio sobre os box*/
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html {
   background-color: #fff;
   /*Define a cor do fundo*/
   color: #555;
   font-family: 'Lato', 'Arial', sans-serif;
   /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
   font-weight: 300;
   /*de acordo com a fonte que importamos*/
   font-size: 20px;
   text-rendering: optimizeLegibility;
   /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/
   scroll-behavior: smooth;
  }

 header {
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-image: url(./img/background.jpg);
 }

 header a {
   text-decoration: none;
   color: rgb(255, 255, 255);
 }

 header nav {
   display: flex;
   gap: 16px;
   align-items: center;
   padding-top: 20px;

 }

 header .logo {
   width: 100px;
   margin-left: 40px;
   filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(101%) contrast(105%);
 }

 header .main-nav {
   width: 85%;
   display: flex;
   justify-content: space-evenly;
   list-style: none;
   font-weight: bold;
   text-transform: uppercase;
 }
 header .main-nav li a:hover,
 header .main-nav li a:active {
   padding-bottom: 4px;
   border-bottom: 2px solid #8b45a0;
   transition: border-bottom 0.3s;
 }
 .main-nav li a {
   border-bottom: 2px solid transparent;
 }

 body {
   font-family: Arial, sans-serif;
   background-color: #ffffff;
 }

 .login-container {
   background-color: #ffffff;
   width: 70%;
   max-width: 450px;
   margin: 50px auto;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
 }

 h2 {
   text-align: center;
 }

 form {
   margin-top: 20px;
 }

 input[type="text"],
 input[type="password"] {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 button {
   width: 100%;
   padding: 10px;
   background-color: #af4c91;
   color: #ffffff;
   border: none;
   border-radius: 3px;
   cursor: pointer;
 }

 button:hover {
   background-color: #8b45a0;
 }

 .divider {
  padding-bottom: 200px;
 }

 .cadastro-container {
   background-color: #ffffff;
   width: 70%;
   max-width: 450px;
   margin: 0 auto;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
 }


 input {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 .semCadastro {
  padding-top: 8px;
  font-size: 14px;
  display: flex;
  gap: 8px;
 }

 .cliqueAqui {
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: #000;  
 }

 .cliqueAqui:hover {
  border-bottom: 1px solid #000;
  transition: border-bottom 0.3s;
 }


 #menuMobile {
  position: absolute;
  top: 64px;
  right: 16px;
  z-index: 5;
  background-color: black;
  padding: 8px;
  border-radius: 4px;
  display: none;
  list-style: none;
  font-weight: 500;
}


#menuMobile li:hover{
  cursor: pointer;
}

#menuWeb li:hover{
  cursor: pointer;
}

.teste{
  display: block !important;
}

nav i{
  display: none;
}

@media(max-width: 800px) {

  #menuWeb{
    display: none;
}

  nav i{
    color: white;
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline;
    font-size: 40px;
  }
  
  nav i:hover{
    cursor: pointer;
  }
}