 /* ----------------------------------------------- */
 /* Configurações Básicas */
 /* ----------------------------------------------- */

 /*Zerando bordas para ter maior domínio responsaveis os box*/
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html {
   background-color: #fff;
   /*Define a cor do fundo*/
   color: #555;
   font-family: 'Lato', 'Arial', sans-serif;
   /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
   font-weight: 300;
   /*de acordo com a fonte que importamos*/
   font-size: 20px;
   text-rendering: optimizeLegibility;
   /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/ 
    scroll-behavior: smooth;
  }

 header {
   height: 100vh;
   background-image: url(./img/background.jpg);
   background-size: cover;
   background-position: center;
 }

 header a {
   text-decoration: none;
   color: white;
 }

 header nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-top: 20px;
   
 }

 header .logo {
   width: 100px;
   margin-left: 40px;
   filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(101%) contrast(105%);
 }

 header .main-nav {
   width: 85%;
   display: flex;
   justify-content: space-evenly;
   list-style: none;
   font-weight: bold;
   text-transform: uppercase;
 }

 .main-nav li a {
   border-bottom: 2px solid transparent;
 }

 header .main-nav li a:hover,
 header .main-nav li a:active {
   padding-bottom: 4px;
   border-bottom: 2px solid #8b45a0;
   transition: border-bottom 0.3s;
 }

 header h1 {
   margin: 0;
   color: white;
   text-transform: uppercase;

   word-spacing: 10px;
   letter-spacing: 4px;

   margin-bottom: 15px;
 }

 .menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #000;
  margin-top: -16px;
 }

 .headerTextBox {
   position: absolute;
   top: 40%;
   left: 4%;
 }

 .btn:link,
 .btn:visited {
   border: solid 2px white;
   border-radius: 10px;
   padding: 5px 25px;
   margin-right: 10px;
   font-weight: bold;


   transition: background-color 0.3s, color 0.3s;
 }

 .btn-full:link,
 .btn-full:visited {
  
   background-color: rgb(255, 255, 255);
   color: #86389e;
 }

 .btn-full:hover {
   background-color: #913bac;
   color: #fff;
 }

 .btn-ghost:link,
 .btn-ghost:visited {
   background-color: none;
   color: #fff;
 }

 .btn-ghost:hover {
   background-color: #fff;
   color: #913bac;
 }

 .section-features {
   margin: 20px 10%;
   scroll-margin-top: 100px;
 }

 .section-features>div {
   text-align: center;
 }

 .section-features h2 {
   margin-top: 20px;
   margin-bottom: 20px;
   text-transform: uppercase;
 }


 .section-features h2::after {
   content: " ";
   height: 3px;
   width: 100px;
   background-color: purple;
   display: block;
   margin: 0 auto;
   margin-top: 20px;
 }

 .section-features .long.copy {
   line-height: 1.5rem;
 }

 .section-features ion-icon {
   font-size: 40px;
   color: purple;
   margin-bottom: 10px;
   margin-top: 20px;
 }

 .section-features h3 {
   margin-bottom: 20px;
 }

 .row-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
 }

 .row-principal {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .row-principal > ion-icon {
  width:200px;
  height: 200px;
 }

 .section-galery {
   display: flex;
   padding: 16px;
   background-color: #000;
   scroll-margin-top: 100px;
 }

 .section-galery>div {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 16px;
 }

 .section-galery img {
   width: 100%;
   height: 100%;
   opacity: 0.7;
   border: 1px solid #913bac;
 }

 img:hover {
   transform: scale(1.05);
   transition: transform 0.4s;
   opacity: 1;
 }


 /* responsaveis */

 .responsaveis{
  text-align: center;
  margin: 50px;
  justify-content: center;
 }
 
.responsaveis2{
  border: 1px solid #913bac;
  text-align: center;
  text-transform: uppercase;
 }
 .responsaveis img {
  border: 1px solid #913bac;
  height: 300px;
 }

 .devs {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr); 
 }

 .responsaveis  figure {
  margin-top: 8px;
 }

 
#menuMobile {
  position: absolute;
  top: 64px;
  right: 16px;
  z-index: 5;
  background-color: black;
  padding: 8px;
  border-radius: 4px;
  display: none;
  list-style: none;
  font-weight: 500;
}


#menuMobile li:hover{
  cursor: pointer;
}

#menuWeb li:hover{
  cursor: pointer;
}

.teste{
  display: block !important;
}

nav i{
  display: none;
}

 @media(max-width: 500px) {
  .section-galery>div {
    grid-template-columns: 1fr;
  }

  .span-1-of-4 {
    width: 100% !important;
  }

  .devs {
   grid-template-columns: 1fr;
  }

  .row-features {
    display: grid;
    grid-template-columns: 1fr;
  }

  .row-principal > ion-icon {
    width:100px;
    height: 100px;
  }

  #menuWeb{
    display: none;
}

  nav i{
    color: white;
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline;
    font-size: 40px;
  }
  
  nav i:hover{
    cursor: pointer;
  }
}

@media(max-width: 800px) and (min-width: 500px) {
  .section-galery>div {
    grid-template-columns: repeat(2, 1fr);
  }

  .span-1-of-4 {
    width: 100% !important;
  }
  .devs {
   grid-template-columns: 1fr;
  }

  .row-features {
    display: grid;
    grid-template-columns: 1fr;
  }

  .row-principal > ion-icon {
    width:100px;
    height: 100px;
  }

  #menuWeb{
    display: none;
  }

  nav i{
    color: white;
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline;
    font-size: 40px;
  }
  
  nav i:hover{
    cursor: pointer;
  }


}

@media(max-width: 1300px) and (min-width: 800px) {
  .section-galery>div {
    grid-template-columns: repeat(3, 1fr);
  }

  .span-1-of-4 {
    width: 48% !important;
  }
}